@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: "#333333";
  background-color: #fafafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fafafc;
}

.test {
  background: linear-gradient(
    90deg,
    rgba(215, 128, 225, 1) 0%,
    rgba(174, 120, 214, 1) 59%,
    rgba(147, 121, 224, 1) 100%
  );
}

.fc-h-event {
  border: 0;
  background-color: transparent;
}

.fc-h-event > button {
  border: 0 !important;
  background-color: transparent !important;
}

.fc td {
  height: 20%;
}

.fc-day-today {
  background: #f1eaff !important;
  border: none !important;
}

.fc-toolbar-chunk button {
  background-color: #af8ae2 !important;
  border: 0px !important;
  box-shadow: 2px;
}

.fc-timeline-event-harness a {
  background-color: transparent !important;
}

.Toastify__progress-bar-theme--light {
  background-color: #af8ae2 !important;
}

.Toastify__progress-bar-theme--light {
  background-color: #af8ae2 !important;
}

.progress {
  background-color: red !important;
}
