.background-image {
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/pdf/company-icon.png");
  background-size: cover; /* You can adjust the size to fit your needs */
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}
